TZ=Asia/Bangkok
MYSQL_TIMEZONE=Asia/Bangkok

MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=xiaozhi_esp32_server
MYSQL_PORT=3306

REDIS_PASSWORD=
REDIS_PORT=6379

MANAGER_WEB_PORT=8001
MANAGER_API_PORT=8002
XIAOZHI_WS_PORT=8000
XIAOZHI_HTTP_PORT=8003

MYSQL_DATA_DIR=./volumes/mysql
REDIS_DATA_DIR=./volumes/redis
UPLOADFILE_DIR=./volumes/uploadfile
XIAOZHI_DATA_DIR=../../main/xiaozhi-server/data
XIAOZHI_MODELS_DIR=../../main/xiaozhi-server/models
XIAOZHI_MUSIC_DIR=../../main/xiaozhi-server/music
